<%- include('../partials/header', { pageTitle: 'Admin Sign In', bootstrap: '../../../css/bootstrap.min.css', fontAwesome: '../../../css/font-awesome.css', carousal: '../../../css/owl-carousel.css', tooplate: '../../../css/tooplate-artxibition.css' }) %>
<link rel="stylesheet" href="../../../css/admin.css">

<hr class="styled-hr">

<div class="rent-venue-application">
    <div class="container">
        <!-- Search Box and Add New Event Button -->
        <div class="col-lg-12 mb-4">
            <div class="search-box p-4 bg-light rounded shadow-sm">
              <div class="row align-items-center">
                <div class="col-lg-5">
                    <div class="search-heading">
                        <h3 class="mb-0">Edit Event</h3>
                    </div>
                </div>
              </div>
            </div>
          </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="contact-form bg-white p-4 rounded shadow-sm">
                    <form id="contact" action="/admin/events/edit/<%= event._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="_method" value="PUT"> <!-- Enables PUT method -->
                        <div class="row">
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <input name="title" type="text" id="title" placeholder="Title*" required value="<%= event.title %>">
                                </fieldset>
                            </div>
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <input name="description" type="text" id="description" placeholder="Description*" required value="<%= event.description %>">
                                </fieldset>
                            </div>
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <input name="maxAttendees" type="number" id="maxAttendees" placeholder="Max Attendees*" required value="<%= event.maxAttendees %>">
                                </fieldset>
                            </div>
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <input name="eventDate" type="datetime-local" id="eventDate" 
                                        value="<%= event.eventDateTime ? event.eventDateTime.toISOString().slice(0, 16) : '' %>">
                                </fieldset>
                            </div>
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <input name="location" type="text" id="location" placeholder="Location*" required value="<%= event.location %>">
                                </fieldset>
                            </div>
                            <div class="col-12 mb-3">
                                <fieldset>
                                    <label>Current Image:</label>
                                    <br>
                                    <img src="<%= event.imageUrl %>" alt="Event Image" style="max-width: 150px;">
                                    <br><br>
                                    <input name="eventImage" type="file" id="eventImage">
                                    <p style="font-size: 12px;">(Leave blank to keep the current image)</p>
                                </fieldset>
                            </div>
                        </div>
                
                        <!-- Buttons Section -->
                        <div class="button-container">
                            <button type="submit" id="form-submit" class="btn btn-dark w-100n">Update Event</button>
                        </div>
                    </form>
                
                    <!-- Archive Event Form (Placed Outside Main Form) -->
                    <% if (event.isArchived) {%>
                        <div class="button-container">
                            <form action="/admin/events/unarchive/<%= event._id %>" method="post">
                                <button class="btn btn-dark w-100n">Unarchive Event</button>
                            </form>
                        </div>
                    <%}else {%>
                       <div class="button-container">
                            <form action="/admin/events/archive/<%= event._id %>" method="post">
                                <button class="btn btn-dark w-100n">Archive Event</button>
                            </form>
                        </div> 
                    <%}%>   
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../../../scripts/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../../../scripts/popper.js"></script>
<script src="../../../scripts/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../../../scripts/scrollreveal.min.js"></script>
<script src="../../../scripts/waypoints.min.js"></script>
<script src="../../../scripts/jquery.counterup.min.js"></script>
<script src="../../../scripts/imgfix.min.js"></script> 
<script src="../../../scripts/mixitup.js"></script> 
<script src="../../../scripts/accordions.js"></script>
<script src="../../../scripts/owl-carousel.js"></script>

<!-- Global Init -->
<script src="../../../scripts/custom.js"></script>

</body>
</html>
