<%- include('../partials/header', { 
    pageTitle: event.title, 
    bootstrap: '../../css/bootstrap.min.css', 
    fontAwesome: '../../css/font-awesome.css', 
    carousal: '../../css/owl-carousel.css', 
    tooplate: '../../css/tooplate-artxibition.css' 
}) %>

<!-- ***** About Us Page ***** -->
<div class="page-heading-shows-events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>RSVP Now!</h2>
                <span>Check out upcoming and past shows & events and RSVP right now.</span>
            </div>
        </div>
    </div>
</div>

<div class="ticket-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-image">
                    <img src="<%= event.imageUrl %>" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4><%= event.title %></h4>
                    <span><%= event.maxAttendees - event.rsvps.length %> Tickets still available</span>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> <%= event.eventTime %></li>
                        <li><i class="fa fa-map-marker"></i><%= event.location %></li>
                        <li><p>⭐ Average Rating: <%= event.averageRating %> / 5</p></li>
                    </ul>
                    <div class="quantity-content">
                        <div class="left-content">
                            <p><%= event.description %></p>
                        </div>
                    </div>
                    <div class="total">
                        <div class="main-dark-button">
                            <% if (user == null) {%>
                                <button class="rsvp-btn" disabled>Sign In to RSVP</button>
                            <%}else {%>
                                <% if (isRSVPed) { %>
                                    <button class="rsvp-btn" data-event-id="<%= event._id %>" data-rsvped="true">Cancel RSVP</button>
                                <% } else { %>
                                    <button class="rsvp-btn" data-event-id="<%= event._id %>" data-rsvped="false">Click to RSVP</button>
                                <% } %>
                            <%}%>
                        </div>
                    </div>
                    <div class="warn">
                        <p>*Each user needs to RSVP to attend an event</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h4>Ratings & Comments</h4>
                <ul>
                    <% event.ratings.forEach(rating => { %>
                        <li>
                            <strong>Rating:</strong> <%= rating.rating %> ⭐
                            <br>
                            <strong>Comment:</strong> <%= rating.comment %>
                            <br>
                            <em><%= new Date(rating.createdAt).toLocaleString() %></em>
                        </li>
                        <hr>
                    <% }); %>
                </ul>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>

<!-- jQuery -->
<script src="../../scripts/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="../../scripts/popper.js"></script>
<script src="../../scripts/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="../../scripts/scrollreveal.min.js"></script>
<script src="../../scripts/waypoints.min.js"></script>
<script src="../../scripts/jquery.counterup.min.js"></script>
<script src="../../scripts/imgfix.min.js"></script> 
<script src="../../scripts/mixitup.js"></script> 
<script src="../../scripts/accordions.js"></script>
<script src="../../scripts/owl-carousel.js"></script>

<!-- Global Init -->
<script src="../../scripts/custom.js"></script>


<script>
    $(document).ready(function() {
        $(".rsvp-btn").on("click", function() {
            const button = $(this);
            const eventId = button.data("event-id");
            const isRSVPed = button.data("rsvped"); // Boolean status

            $.ajax({
                url: `/user/events/${eventId}/rsvp`,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ action: isRSVPed ? "cancel" : "rsvp" }), // Send correct action
                success: function(response) {
                    if (response.isRSVPed) {
                        button.text("Cancel RSVP").data("rsvped", true);
                        alert("You have successfully RSVP'd to the event!");
                    } else {
                        button.text("Click to RSVP").data("rsvped", false);
                        alert("You have successfully canceled your RSVP.");
                    }
                },
                error: function(xhr) {
                    alert("Error: " + xhr.responseText);
                }
            });
        });
    });
</script>

</body>
</html>